@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
body{
  padding:0px;
  margin:0px;
  font-family: 'Kdam Thmor Pro', sans-serif;
}

header{
  width: 100vw;
  height: 10vh;
  gap: 15vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: beige;
  top: 0px;
  left: 0px;
  position: fixed;
  z-index: 2;
}

ul{
  list-style: none;
  width: 9vw;
  display: flex;
  gap: 5vh;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
}

li{
  margin-top: 5vh;
}

main{
  display: flex;
  flex-wrap: wrap;
}

.home_header_div_conteudo{
  width: 25vw;
  display: flex;
  gap:5px;
  justify-content: space-around;
}

.home_side_bar{
  background-color: black;
  color: white;
  width: 14vw;
  height: 90vh;
  left: 0px;
  top: 10vh;
  position: absolute;
  z-index: 1;
}

.home_side_bar div:nth-child(1){
  display: flex;
  height: 5vh;
  align-items: center;
  justify-content: center;
}

.home_jogo_destaque{
  margin-top: 10vh;
  width: 86vw;
  height: 40vh;
  margin-left: 14vw;
  background-color: #d64f4f;
}

.home_jogos{
  /* margin-top: 10vh; */
  width: 86vw;
  margin-left: 14vw;
  background-color: #21e388;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  height: 40vh;
  gap: 3vw;
  padding-left: 30px;
  padding-top: 1%;
}

.jogo_1{
  width: 30%;
  padding-top: 10px;
  display: flex;
  gap: 10px;
  background-color: black;
  border-radius: 2%;
  flex-direction: column;
  align-items: center;
}

.short_description{
  width: 390px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  color: bisque;
}

.botao_pvp{
  cursor: pointer;
}
.title{
  color:white;
}