@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body{
  padding:0px;
  margin:0px;
}

/* <===============NAV BAR===================> */

header{
  width: 100vw;
  height: 10vh;
  gap: 15vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #121729;
  top: 0px;
  left: 0px;
  position: fixed;
  z-index: 2;
}

header .logo{
  width: 30%;
  color: #FFFFFF;
  font-family: 'Zen Dots', cursive;
  font-size: 1.6em;
}

header .logo i{
  margin-right: 5%;
}

header .home_header_div_conteudo{
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
}

header .fav{
  width: 12%;
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
}

header .fav i{
  margin-left: 2%;
  color: #FFD600;
  vertical-align: text-top;
}

/* <===============NAV BAR-ANIMAÇOES===================> */

header .home_header_div_conteudo div:hover{
  color: #27CAD4;
  transition: 0.3s;
}

/* <===============NAV BAR===================> */

/* <===============SIDE MENU===================> */

.home_side_bar{
  background-color: #151A2A;
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
  width: 14vw;
  height: 100vh;
  left: 0px;
  top: 10vh;
  position: fixed;
  z-index: 1;
}

.container_side_bar{
  display: flex;
  max-width: 100%;
  gap: 4vh;
  flex-direction: column;
  margin: 0vh;
}

.home_side_bar .container_side_bar .home{
  
  height: 10vh;
  align-items: center;
  justify-content: center;
  color: #27CAD4;
}

.home_side_bar .container_side_bar .games{
  width: 88%;
  height: 20%;
  padding: 3vh;
  padding-right: 0vh;
  
}

/* <===============SIDE MENU-ANIMAÇOES===================> */

.container_side_bar .games:hover{
  color: #27CAD4;
  transition: 0.3s;
}

/* <===============SIDE MENU===================> */

main{
  display: flex;
  flex-wrap: wrap;
}

.home_header_div_conteudo{
  width: 25vw;
  display: flex;
  gap:5px;
  justify-content: space-around;
}

.home_jogo_destaque{
  margin-top: 10vh;
  width: 86vw;
  height: 40vh;
  margin-left: 14vw;
  background-color: #d64f4f;
}

.home_jogos{
  /* margin-top: 10vh; */
  width: 86vw;
  margin-left: 14vw;
  background-color: #21e388;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  height: 40vh;
}

.jogo_1{
  text-align: center;
}