@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

body {
  padding: 0px;
  margin: 0px;
  font-family: 'Kdam Thmor Pro', sans-serif;
  background-color: #151515;
}


/* SCROLL BAR */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(0, 0, 0);
  /* border-radius: 10px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f9f9f9;
  border-radius: 2px;
}
/* FIM SCROLL BAR */
/* <=============== NAV BAR ===================> */

header {
  width: 100vw;
  height: 10vh;
  gap: 15vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #d81e5b;
  top: 0px;
  left: 0px;
  position: fixed;
  z-index: 200;
  box-shadow: 1px 2px 3px 3px #0000002e;
}

header .logo {
  width: 22%;
  color: #FFFFFF;
  font-family: 'Zen Dots', cursive;
  font-size: 1.6em;
}

header .logo i {
  margin-right: 5%;
}

header .plataforms {
  display: flex;
  justify-content: space-around;
  width: 30%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
}

header .plataforms a {
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 1em;
  padding-top: 0em;
  padding-bottom: 0em;
  cursor: pointer;
  transition: 0.3s;
}

header .plataforms a:hover {
  color: #00fff7;
}

.selected {
  color: #00fff7 !important;
}

header .fav {
  width: 12%;
  display: flex;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

header .fav i {
  margin-left: 2%;
  color: #FFD600;
  vertical-align: text-top;
}



header .fav:hover{
  background-color: #27CAD4;
  transition: 0.3s;
}

/* <=============== NAV BAR ===================> */

/* <=============== SIDE MENU ===================> */

.home_side_bar {
  background-color: #0b0b0b;
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
  width: 14vw;
  height: 100vh;
  left: 0px;
  top: 10vh;
  position: fixed;
  z-index: 1;

  display: flex;
  justify-content: center;
}

.container_side_bar {
  display: flex;
  width: 100%;
  gap: 4vh;
  flex-direction: column;
  margin: 0vh;

  align-items: center;

}

.home_side_bar .container_side_bar .home {

  height: 10vh;
  align-items: center;
  justify-content: center;
  color: #27CAD4;
}

/* .home_side_bar .container_side_bar .category {
  width: 100%;
  height: 60px;
  margin-top: 20%;
  color: white;
  text-decoration: none;
} */

.categorys{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #0b0b0b;
  margin-top: 10%;

}

.category{
  width: 100%;
  height: 60px;
  /* margin-top: 20%; */
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #d81e5b;
  letter-spacing: 2.5px;
}

.category svg {
  color: #FFFFFF;
}

.category_title {
  width: 100%;
  margin-left: 20%;
  vertical-align: middle;

}
.category_title {
  vertical-align: top;
  margin-right: 2%;
}

.home_side_bar_options{
  height: 75vh;
  width: 100%;
  display: flex;
  flex-direction: column;

  /* justify-content: center;
  align-items: center;   */
}

/* <=============== SIDE MENU-ANIMAÇOES ===================> */

.categorys a:hover {
  background-color: #d81e5b;
  transition: 0.3s;
  color: #FFFFFF;
}

/* <=============== SIDE MENU ===================> */


/* ===================== MAIN ==================== */
main {
  display: flex;
  flex-wrap: wrap;
  background-color: #151515;
  margin-top: 10vh;
  margin-left: 14vw;
}

.home_jogos {
  background-color: #151515;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 1%;
  gap: 20px;
  padding-top: 1%;
  justify-content: space-between;
}

.jogo {
  display: block;
  width: 30%;
  padding-top: 10px;
  display: flex;
  gap: 10px;
  background-color: #0f0f0f;
  border-radius: 2%;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  transition: 500ms;
  justify-content: space-around;
}

.jogo #video_jogo{

  display: none;
  width: 60%;
  /* display: flex; */
  
}

.jogo_conteudo{
  text-decoration: none;
}

.short_description {
  /* display: none; */
  width: 390px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  color: rgb(255, 184, 213);
  font-family: 'Titillium Web', sans-serif;
  letter-spacing: 0.5px;
}

.title {
  color: rgb(255, 184, 213);
}

.div_jogo_conteudo_footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 90px;
    justify-content: space-around;
    align-items: center;
}

.div_jogo_conteudo_footer button{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 100%;
    background: #00000047;
    color: white;
    font: bold 12px arial, sans-serif;
    text-shadow: none;
    cursor: pointer;
}

.fa-star{
  font-size: 20px;
  transition: 500ms;
  color:white;
}

/* HOVER */
.jogo:hover{
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  z-index: 100;
  background-color: #1c1c1c;
  transition: 500ms;
}

.jogo:hover .imagem_jogo{

  display: none;
}

.jogo:hover #video_jogo{
  display: flex;
  margin-left: 100px;
}

.jogo:hover .title{
  color: #ffffff;
  font-size: 20px;
}

.jogo:hover .short_description{
  color: #ffffff;
}

.favoritado{
  transition: 500ms;
  color: yellow;
}

.icon_card{
  width: 20px;
}

/* FIM HOVER*/

/* ===========botao carregar mais ============= */
.home_jogos_carregar_mais {
  width: 86vw;
  display: flex;
  height: 8vh;
  /* background-color: #734f96; */
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.home_jogos_carregar_mais .botao_carregar_mais {
  border:none;
  background: #0066A2;
  color: white;
  height: 30px;
  width: 100px;
  font: bold 12px arial, sans-serif;
  text-shadow: none;
}

/* ===========botao carregar mais FIM ============= */

/* =================jogo destaque ==================== */

.destaque_descricao{
  display: flex;
  width: 35%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  justify-content: space-evenly;
  color: white;
}

.conteudo_destaque{
  display: flex;
  flex-direction: column;
}


.home_jogo_destaque {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  margin: 1%;
  background-color: #0d0a0a;
}

.jogo_destaque_conteudo{
  text-align: center;
}

.div_jogos_destaque_botao_favoritos button{
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 100%;
  background: #00000047;
  color: white;
  font: bold 12px arial, sans-serif;
  text-shadow: none;
  cursor: pointer;
}

video{
  width: 850px;
}



.alinha_botao{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* ==========jogo destaque FIM ==================== */
