@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body {
  padding: 0px;
  margin: 0px;
  font-family: 'Kdam Thmor Pro', sans-serif;
}

/* <=============== NAV BAR ===================> */

header {
  width: 100vw;
  height: 10vh;
  gap: 15vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #121729;
  top: 0px;
  left: 0px;
  position: fixed;
  z-index: 2;
}

header .logo {
  width: 30%;
  color: #FFFFFF;
  font-family: 'Zen Dots', cursive;
  font-size: 1.6em;
  margin-left: 2%;
}

header .logo i {
  margin-right: 5%;
}

header .home_header_div_conteudo {
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
}

header .fav {
  width: 12%;
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
}

header .fav i {
  margin-left: 2%;
  color: #FFD600;
  vertical-align: text-top;
}

/* <=============== NAV BAR-ANIMAÇOES ===================> */

header .home_header_div_conteudo div:hover {
  color: #27CAD4;
  transition: 0.3s;
}

/* <=============== NAV BAR ===================> */

/* <=============== SIDE MENU ===================> */

.home_side_bar {
  background-color: #151A2A;
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
  width: 14vw;
  height: 100vh;
  left: 0px;
  top: 10vh;
  position: fixed;
  z-index: 1;
}

.container_side_bar {
  display: flex;
  width: 100%;
  gap: 4vh;
  flex-direction: column;
  margin: 0vh;
}

.home_side_bar .container_side_bar .home {

  height: 10vh;
  align-items: center;
  justify-content: center;
  color: #27CAD4;
}

/* .home_side_bar .container_side_bar .category {
  width: 100%;
  height: 60px;
  margin-top: 20%;
  color: white;
  text-decoration: none;
} */

.category{
  width: 100%;
  height: 60px;
  /* margin-top: 20%; */
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.category_title {
  margin-left: 36%;
}

.home_side_bar_options{
  height: 75vh;
  display: flex;
  flex-direction: column;
  
}

/* <=============== SIDE MENU-ANIMAÇOES ===================> */

.container_side_bar a:hover {
  background-color: #27CAD4;
  transition: 0.3s;
}

/* <=============== SIDE MENU ===================> */


/* ===================== MAIN ==================== */
main {
  display: flex;
  flex-wrap: wrap;
}

.home_header_div_conteudo {
  width: 25vw;
  display: flex;
  gap: 5px;
  justify-content: space-around;
}

.home_jogos {
  /* margin-top: 10vh; */
  width: 86vw;
  margin-left: 14vw;
  background-color: #21e388;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  gap: 3vw;
  padding-left: 30px;
  padding-top: 1%;
}

.jogo {
  width: 30%;
  padding-top: 10px;
  display: flex;
  gap: 10px;
  background-color: #333333;
  border-radius: 2%;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.jogo_conteudo{
  text-decoration: none;
}

.short_description {
  width: 390px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  color: bisque;
}

.title {
  color: white;
}

/* ===========botao carregar mais ============= */
.home_jogos_carregar_mais {
  width: 86vw;
  display: flex;
  height: 8vh;
  margin-left: 14vw;
  background-color: #d64f4f;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.home_jogos_carregar_mais .botao_carregar_mais {
  border:none;
  background: #0066A2;
  color: white;
  height: 30px;
  width: 100px;
  font: bold 12px arial, sans-serif;
  text-shadow: none;
}

/* ===========botao carregar mais FIM ============= */

/* =================jogo destaque ==================== */

.div_jogo_destaque video{

  width: 90%;
}

.div_jogo_destaque_descricao{
  /* background-color: #463db9; */
  width: 34vw;
  height: 16vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;

  /* display: 	none; */

  grid-column: 2;
  grid-row: 1;
  position: relative;
  top: 160px;

}

.home_jogo_destaque {
  margin-top: 10vh;
  width: 86vw;
  height: 56vh;
  margin-left: 14vw;
  background-color: #111;

  /* display: flex; */
  justify-content: center;
  align-items: center;
  display: grid;
}

.jogo_destaque_conteudo{
  margin-left:15px;
}

.div_jogos_destaque_botao_favoritos button{
  width: 100px;
  height: 25px;
  border: none;
  background: #0066A2;
  color: white;
  font: bold 12px arial, sans-serif;
  text-shadow: none;
  cursor: pointer;
}

video{
  width: 886px;
  object-fit: contain;
  /* height: 213px; */
  height: auto;
  /* margin-left: 200px; */

  grid-column: 1;
  grid-row: 1/2;
  justify-self: center;
  align-self: center;
}

.home_jogo_destaque #teste_imagem{

  height: 60%;
  align-self: normal;
  grid-column: 2;
  grid-row: 1;
  justify-self: center;
  position: relative;
  margin-top: 3%;
}

.alinha_botao{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ==========jogo destaque FIM ==================== */